


/*RESET STYLES */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    
}


/* ===== Variables ===== */

:root {
          
    --font-color: #6e6e6e;
    --background-color: #ABDAD4;
    --border-radius: 16px;

}


/* ===== Utility Classes ===== */


main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog-card{
    background-color: var(--background-color);
    width: 30vw;
    min-height:  65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 14px;
    
    border-radius: var(--border-radius);
    padding: 20px;
}





.blog-image{
    width: 100%;
    height: 200px;
    object-fit: cover;
   
}


.card-category{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}




.card-category-label{
    background-color: #E6D6FB;
    color: #9650E4;
    padding: 4px 16px;
    border-radius: 12px;
    font-size: 10px;
    
}


.blog-excerpt{
    color: var(--font-color);
    font-weight: 100;
}


.blog-author{
    color: var(--font-color);
    font-weight: 100;
    margin-top: 40px;
}





/* ===== Media Queries ===== */

@media (max-width: 768px) {



                    
          

            .blog-card{
                background-color: var(--background-color);
                width: 80vw;
                min-height:  50vh;
                
                 flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;
                    gap: 14px;
            }





            .blog-image{

                height: 300px;
            
            }


         

           





















}
